.git/
.gitignore
.dockerignore
Dockerfile.dockerignore
deploy/docker/*.dockerignore

.env
.env.*
!.env.example

/woodstar
/bin/
/build/
/tmp/
/.gocache/
*.log

**/node_modules/
web/.vite/
web/*.tsbuildinfo
web/vite.config.js
