.git/
.gitignore
.dockerignore
Dockerfile.dockerignore

.env
.env.*

/woodstar
/.air/
/bin/
/build/
/tmp/
/.gocache/
*.log

web/node_modules/
web/dist/
web/.vite/
web/*.tsbuildinfo
web/vite.config.js
web/vite.config.d.ts

.DS_Store
