# Go
/woodstar
/.air/
*.test
go.work
go.work.sum

# Node.js
node_modules/
/web/dist/*
!/web/dist/.gitkeep

# Python
__pycache__/

# Local data
/.local/
/data/

# Local configuration
.env
.env.*
!.env.example

# Local Mise
.mise.local.toml
.mise.local.lock

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
